<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanxiuData.dao.ImgMapper">
    <resultMap id="ImgMapper" type="com.wanxiuData.entity.Img">
        <result property="id" column="id"/>
        <result property="imgName" column="imgName"/>
        <result property="state" column="state"/>
        <result property="typeId" column="typeId"/>
    </resultMap>
    <select id="findAllImg" resultMap="ImgMapper">
        select * from img where state!=0
    </select>

    <select id="findImgByTypeId" resultMap="ImgMapper">
        select * from img where state!=0 and typeId=#{typeId}
    </select>
</mapper>